@media (prefers-color-scheme: dark) {
  body {
    background: #1a1a1a;
    color: white;
  }
  a {
    color: skyblue;
  }
}

header {
  display: flex;
  justify-content: left;
  align-items: center;
}

body {
  font-family: sans-serif;
}

input {
  border-radius: 1em;
  padding: 1em;
}
form {
  width: 100%;
}
@media (max-width: 425px) {
  form {
    width: 100%;
    display: grid;
  }
}
