article:focus-within {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px white;
}

body {
  min-height: 100vh;
  max-width: max-content;
  margin: auto;
  font-family: ui-monospace, 'Cascadia Mono', 'Cascadia Code', 'Consolas',
    'Segoe UI Mono', 'Ubuntu Mono', 'Roboto Mono', Menlo, Monaco, monospace;
  background: black;
  color: white;
}

a {
  color: skyblue;
}

input {
  color: white;
  background: #2a2a2a;
  border: solid 1px darkgray;
  border-radius: 1em;
  padding: 1em;
}
article:focus-within {
  box-shadow: 0 0 5px black;
  background: rgba(255, 255, 255, 0.1);
}

article {
  padding: 0.5em;
}

@media (min-width: 1122px) {
  html {
    overflow-x: hidden;
  }
  html:before {
    content: ' ';
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    display: block;
    background-image: url(/bg.svg);
    background-size: cover;
  }
}

input[type='search'] {
  width: calc(100% - 100px);
}
img {
  padding-right: 1em;
}
@media (min-width: 500px) {
  html {
    min-height: 100%;
  }
  body {
    margin-top: 1em;
    min-height: calc(100vh - 2em);
    border-radius: 1em;
  }
  input[type='search'] {
    width: calc(100% - 60px);
  }
  article {
    padding: 1em;
    margin: 1em;
  }
}

header {
  display: flex;
  justify-content: left;
  align-items: center;
}

form {
  width: 100%;
}

@media (max-width: 414px) {
  header {
    text-align: center;
    display: block;
    margin-bottom: 5px;
  }
}

@media (max-width: 226px) {
  input,
  input[type='search'] {
    width: 100%;
  }
  form {
    text-align: center;
  }
  form * {
    display: block;
  }
}
