  @media (prefers-color-scheme: dark) {
    body {
      background: #1a1a1a;
    }
    a {
      color: skyblue;
    }
  }

  @media (min-width: 1122px) {
    main {
      background-image: url(/bg.svg);
      animation: move 15s ease infinite alternate;
    }
    a {
      color: skyblue;
    }
  }

  body {
    color: white;
    font-family: sans-serif;
  }

  @media (max-width: 1121px) {
    main {
      color: black;
    }
  }

  @media (max-width: 1121px) and (prefers-color-scheme: dark) {
    main {
      color: white;
    }
  }

  main {
    position: absolute;
    top: 0;
    z-index: -10;
    left: 0;
    width: 100%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @keyframes move {
    from {
      background-position: 0 0;
    }

    to {
      background-position: -100%;
    }
  }
.center {
  display:flex;
  justify-content:center;
  align-items:center;
}
