body {
  background: #1a1a1a;
}

iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}

a {
  color: skyblue;
}

input[type="submit"] {
  border-radius: 1em;
  min-width: 5ch;
  min-height: 5ch;
}

input[type="search"], input[type="submit"] {
  box-shadow: 0 0 10px white;
}

input[type="search"] {
  border-radius: 2em;
  padding: 1em;
  border: darkgray solid 0.2em;
  transition: 0.3s border-width;
}

input[type="search"]:focus {
  border-width: 0.5em;
}

@media (min-width: 1122px) {
  main {
    background-image: url(/bg.svg);
    background-repeat: no-repeat;
  }
  input[type="search"], input[type="submit"] {
    box-shadow: 0 0 10px black;
  }
}

body {
  color: white;
  font-family: sans-serif;
}

main {
  color: white;
}

main {
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  width: 100%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  resize: horizontal;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form>* {
  margin: 1em;
}
