@media (prefers-color-scheme: dark) {
  body {
    background: #1a1a1a;
  }
  a {
    color: skyblue;
  }
}

@media (min-width: 1122px) {
  main {
    background-image: url(/bg.svg);
    background-repeat: no-repeat;
  }
  a {
    color: skyblue;
  }
}

body {
  color: white;
  font-family: sans-serif;
}

@media (max-width: 1121px) {
  main {
    color: black;
  }
}

@media (max-width: 1121px) and (prefers-color-scheme: dark) {
  main {
    color: white;
  }
}

main {
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  width: 100%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  resize: horizontal;
}

form {
  display: flex;
  justify-content: center;
  align-items:center;
}

form>* {
  margin: 1em;
}

input[type="submit"] {
  border-radius: 1em;
  width: 5ch;
  height: 5ch;
}

input[type="search"] {
  border-radius: 2em;
  padding: 1em;
  border: darkgray solid 0.2em;
  transition: 0.3s border-width;
}

input[type="search"]:focus {
  border-width: 0.5em;
}
